---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { StrokedCirclePattern } from "@components/StrokedCirclePattern";
import TableLanguageCombinations from "@components/TableLanguageCombinations.astro";
import { ExternalLinkIcon } from "@components/icons/ExternalLinkIcon";
import localLogoMemoQ from "../../images/logo-q.svg";
import HeroHeading from "@components/HeroHeading.astro";
import { DoubleChevronRightIcon } from "@components/icons/DoubleChevronRightIcon";
import TrialBanner from "@components/TrialBanner.astro";
import CopyButton from "@components/CopyButton.astro";
import { CopyIcon } from "@components/icons/CopyIcon";
import { LinkedInIcon } from "@components/icons/LinkedinIcon";
import TranslateFieldsList from "@components/TranslateFieldsList.astro";
import { MailIcon } from "@components/icons/MailIcon";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout>
  <main class="flex flex-col font-inter">
    <section id="hero" class="grid h-40rem">
      <StrokedCirclePattern className="col-span-full row-span-full" />
      <div class="flex flex-col gap-y-8 items-center justify-center col-span-full row-span-full">
        <HeroHeading />
        <a
          href="#contact"
          class="flex items-center gap-x-2 border border-black pis-4 pie-2 py-2 rounded text-sm font-600"
        >
          Get in touch
          <DoubleChevronRightIcon />
        </a>
      </div>
    </section>

    <TrialBanner />

    <section class="max-w-1200px px-4 mx-a mbs-18 grid gap-4 justify-items-center">
      <h2 class="mbe-4 text-center font-gabarito font-800 text-4xl underline">
        De bedoeling van mijn vertalingen is <br /> om vlot en nauwkeurig te zijn
      </h2>
      <p class="max-w-600px text-center">
        Door in elke context de meest precieze en geschikte term te kiezen, is het mijn intentie dat
        de vertaling dezelfde impact behoudt als de originele tekst.
      </p>
    </section>

    <section class="max-w-1200px px-4 mx-a mbs-18 grid gap-4 justify-items-center">
      <h2 class="mbe-4 font-gabarito text-center text-4xl font-800 underline">
        Global linguistic reach
      </h2>
      <p class="max-w-600px text-center">
        This table displays my language proficiency and translation capabilities to helping you
        match the right linguist to your specific language needs.
      </p>
      <TableLanguageCombinations />

      <article class="max-w-800px py-4 px-4 text-sm border-l-6 border border-black rounded mt-4">
        <h3 class="inline-flex gap-x-2 mb-2 font-500">
          <img src={localLogoMemoQ.src} alt="" width={16} height={16} />
           MemoQ translator pro
        </h3>
        <p>
          Ik gebruik de computergestuurde vertaalomgeving <strong>MEMO Q PRO</strong>, een tool
          waarmee ik met een groot aantal documentformaten kan werken en die compatibel is met de
          meeste andere vertaaltools zoals
          <a
            href="https://www.trados.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center hover:underline gap-x-1 text-blue"
          >
            SDL Trados <span><ExternalLinkIcon aria-hidden className="stroke-current" /></span>
          </a>
          {" "}of{" "}
          <a
            href="https://www.trados.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center hover:underline gap-x-1 text-blue"
          >
            Wordfast <span><ExternalLinkIcon aria-hidden className="stroke-current" /></span>
          </a>
        </p>
      </article>
    </section>

    <section class="max-w-1200px px-4 mx-a mbs-18 grid gap-4">
      <h2 class="mbe-4 font-gabarito font-800 text-4xl mbe-2 text-center underline">
        Favoriete gebieden, gebaseerd op mijn <br /> persoonlijke en professionele ervaring
      </h2>

      <TranslateFieldsList />

      <article class="max-w-800px py-4 px-4 text-sm border-l-6 border border-black rounded mt-4">
        <p class="mb-2">
          Twijfelt u aan de maakbaarheid van de door u gewenste vertaling? (poëzie, volgehouden
          taal, rijke symboliek van de tekst, specifieke termen, enz.)
        </p>
        <p>
          Aarzel dan niet
          <a class="text-blue font-500 hover:underline hover:underline-blue" href="#contact">
            om contact op te nemen of vraag een offerte aan.
          </a>
        </p>
      </article>
    </section>

    <section id="about" class="max-w-1200px mx-a grid gap-y-4 mbs-16 px-4">
      <h2 class="mbe-4 font-gabarito font-800 text-4xl text-center underline">De vertaler</h2>

      <p>Freya PALSMA - Gehandicapte freelance professionele vertaler (TIH)</p>

      <p class="max-w-800px mx-a">
        Geboren en opgegroeid in Frankrijk, maar van Nederlandse afkomst, ik heb leren vertalen door
        te leren spreken; Frans op school en Nederlands thuis. Vervolgens kreeg ik de kans om
        vloeiend Engels te leren door een jaar van mijn schooltijd in Engeland door te brengen en
        het leren voort te zetten in de internationale sectie op de middelbare school totdat ik mijn
        baccalauréat (OIB/BFI) behaalde in een internationaal lyceum in Frankrijk. Sindsdien heb ik
        deze talen kunnen oefenen en verrijken op de werkvloer; ik heb drie jaar in het horeca
        gewerkt en twee jaar voor een internationale logistieke dienstverlener, met dagelijks
        contact met BeNeLux-medewerkers en -klanten.
      </p>

      <p class="max-w-800px mx-a">
        Als volwassene heb ik een zeldzame neurologische ziekte opgelopen en door de gebrekkige
        informatie en onderzoeken over deze aandoening in het Frans heb ik ontdekt dat een vertaling
        niet alleen de communicatie tussen twee taalgemeenschappen of de internationale handel
        mogelijk maakt, maar vooral het delen van informatie en de verrijking van de persoonlijke
        cultuur. <br /> Vertalen is voor mij een reflex geworden en het geeft mij veel voldoening om
        u deze dienst vandaag te kunnen aanbieden.
      </p>
    </section>

    <section id="contact" class="max-w-1200px mx-a grid gap-y-8 my-16 px-4">
      <h2 class="font-gabarito font-800 text-4xl underline">Contact</h2>
      <p>
        Voel je vrij om contact met me op te nemen via e-mail of om met me te verbinden op LinkedIn.
      </p>

      <div class="justify-self-center flex flex-wrap gap-10">
        <CopyButton
          className="flex items-center gap-x-1 border border-black px-4 py-2 rounded"
          content="brainslate@outlook.fr"
        >
          <MailIcon aria-hidden />
          <span class="text-sm">brainslate@outlook.fr</span>
          <CopyIcon aria-hidden className="w-16px h-16px" />
        </CopyButton>

        <a
          href="https://www.linkedin.com/in/freya-palsma/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-x-1 border border-black rounded px-4 py-2 text-sm"
        >
          <div class="flex items-center gap-x-1">
            <LinkedInIcon aria-hidden /><span class="text-sm underline">Linkedin</span>
          </div>
          <ExternalLinkIcon aria-hidden className="w-16px h-16px" />
        </a>
      </div>
    </section>
  </main>
</BaseLayout>
