---
import { ArrowRightIcon } from "@components/icons/ArrowRightIcon";
import { ExternalLinkIcon } from "@components/icons/ExternalLinkIcon";
import BaseLink from "@components/ui/BaseLink.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import BaseLayout from "@layouts/BaseLayout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title="Brainslate | Prices">
  <main class="min-h-100dvh mt-xl max-w-1200px mx-a flex flex-col gap-y-4">
    <section class="flex flex-col gap-y-2">
      <h2 class="font-gabarito font-800 text-2xl">Mijn beschikbaarheid</h2>

      <ul>
        <li class="flex items-baseline gap-x-2">
          <span><ArrowRightIcon /></span>
           Gegarandeerd antwoord op offerte binnen 6 uur (van 8 tot 18 uur op werkdagen)
        </li>
        <li class="flex items-baseline gap-x-2">
          <span><ArrowRightIcon /></span>
           Expresslevering binnen 72 uur tot 1600 woorden (afhankelijk van
          beschikbaarheid/uitgezonderd proefaanbieding)
        </li>
      </ul>
    </section>

    <section class="flex flex-col gap-y-2">
      <h2 class="font-gabarito font-800 text-2xl">TARIEVEN</h2>

      <p>
        Tarieven zijn afhankelijk van de techniciteit en complexiteit van de tekst en de
        talencombinatie. Vertalingen worden gefactureerd per woord (van 0,10 tot 0,20 euro/woord),
        en de facturatie wordt vervolgens aangepast volgens de benodigde tijd en de gevraagde
        leverdatum. Aarzel niet om contact met me op te nemen voor een offerte of om de haalbaarheid
        van je project te controleren!
      </p>

      <p>
        Ik ben een gehandicapte zelfstandige: Er bestaan in Frankrijk een aantal regelingen om
        bedrijven te helpen gehandicapten in dienst te nemen. Voor meer informatie:
        <BaseLink
          href="https://www.agefiph.fr/employeur#linclusion-de-personnes-handicapees-une-opportunite-rh-a-saisir"
          external
        >
          https://www.agefiph.fr/employeur#linclusion-de-personnes-handicapees-une-opportunite-rh-a-saisir


          <span><ExternalLinkIcon aria-hidden /></span>
        </BaseLink>
      </p>
    </section>
  </main>
</BaseLayout>
