---
import { ArrowRightIcon } from "@components/icons/ArrowRightIcon";
import { ExternalLinkIcon } from "@components/icons/ExternalLinkIcon";
import { Badge } from "@components/ui/Badge";
import { Link } from "@components/ui/Link";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Brainslate | Prijzen">
  <main
    class="container-900 mx-a pbs-20 flex min-h-[calc(100dvh_-_80px_-_70px)] flex-col gap-y-4 px-6"
  >
    <section class="flex flex-col gap-y-2">
      <h1 class="font-gabarito font-800 mbe-4 text-4xl">Tarieven</h1>

      <p>
        Tarieven zijn afhankelijk van de techniciteit en complexiteit van de tekst en de
        talencombinatie. Vertalingen worden gefactureerd per woord (van 0,10 tot 0,20 euro/woord),
        en de facturatie wordt vervolgens aangepast volgens de benodigde tijd en de gevraagde
        leverdatum. Aarzel niet om contact met me op te nemen voor een offerte of om de haalbaarheid
        van je project te controleren!
      </p>

      <p>
        Ik ben een gehandicapte zelfstandige: Er bestaan in Frankrijk een aantal regelingen om
        bedrijven te helpen gehandicapten in dienst te nemen. Voor meer informatie:
        <Link
          intent="text"
          href="https://www.agefiph.fr/employeur#linclusion-de-personnes-handicapees-une-opportunite-rh-a-saisir"
          external
        >
          clik hier
          <ExternalLinkIcon aria-hidden />
        </Link>
      </p>
    </section>

    <article class="border-l-6 border-border grid gap-2 rounded border px-4 py-4 text-sm">
      <div class="flex items-center gap-x-2">
        <Badge intent="green">OFFRE</Badge>
        <p class="font-600">5 euros proefaanbieding voor uw eerste 250 woorden.</p>
      </div>

      <p>
        Profiteer van deze aanbieding om een kort document te laten vertalen of simpelweg om een
        voorproefje van mijn werk te zien voor een mogelijk langer project.
      </p>
    </article>

    <section class="mbs-12 flex flex-col gap-y-2">
      <h2 class="font-gabarito font-800 mbe-4 text-4xl">Mijn beschikbaarheid</h2>

      <ul>
        <li class="flex items-baseline gap-x-2">
          <ArrowRightIcon /> Gegarandeerd antwoord op offerte binnen 6 uur (van 8 tot 18 uur op
          werkdagen)
        </li>

        <li class="flex items-baseline gap-x-2">
          <ArrowRightIcon />
           Expresslevering binnen 72 uur tot 1600 woorden (afhankelijk van
          beschikbaarheid/uitgezonderd proefaanbieding)
        </li>
      </ul>
    </section>
  </main>
</BaseLayout>
