---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="container-900 mx-a min-h-[calc(100dvh_-_80px_-_70px)]">
    <section class="pbs-18 px-6">
      <h1 class="font-gabarito font-800 mbe-4 text-4xl">Privacybeleid</h1>

      <p>
        We gebruiken cookies alleen om de donker thema op onze site te activeren. Deze cookies
        verzamelen geen persoonlijke informatie. Ze worden gebruikt om uw browse-ervaring te
        verbeteren. Als je vragen of opmerkingen hebt, aarzel dan niet om ons te contacteren.
      </p>
    </section>
  </main>
</BaseLayout>
