---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="max-w-1200px mx-a min-h-100dvh">
    <h1>Privacybeleid</h1>

    <p>
      We gebruiken cookies alleen om de donker thema op onze site te activeren. Deze cookies
      verzamelen geen persoonlijke informatie. Ze worden gebruikt om uw browse-ervaring te
      verbeteren. Als je vragen of opmerkingen hebt, aarzel dan niet om ons te contacteren.
    </p>
  </main>
</BaseLayout>
