---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { StrokedCirclePattern } from "@components/StrokedCirclePattern";
import TableLanguageCombinations from "@components/TableLanguageCombinations.astro";
import { ExternalLinkIcon } from "@components/icons/ExternalLinkIcon";
import localLogoMemoQ from "../../images/logo-q.svg";
import sanitizeHTML from "sanitize-html";
import CopyButton from "@components/CopyButton.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout>
  <Header />

  <main class="flex flex-col font-inter gap-10">
    <section id="hero" class="grid border-b h-40rem">
      <StrokedCirclePattern className="col-span-full row-span-full" />
      <div class="flex flex-col items-center justify-center col-span-full row-span-full">
        <h1
          class="max-w-[15ch] sm:max-w-[23ch] px-5 font-gabarito text-7xl font-900 sm:text-center [&>span]:text-red"
          set:html={sanitizeHTML(t("hero.title"))}
        />
      </div>
    </section>

    <section id="presentation" class="flex flex-col gap-10">
      <article class="mx-a px-10 py-12 max-w-[500px]">
        <h2 class="font-gabarito text-4xl font-800 mbe-8">{t("presentation.title")}</h2>
        <TableLanguageCombinations />
      </article>

      <article class="max-w-2xl mx-a">
        <h2 class="font-gabarito font-800 text-2xl">{t("objective.title")}</h2>
        <p>{t("objective.description")}</p>
      </article>

      <article class="mx-a max-w-2xl">
        <p class="mb-4">
          {t("trial.description")}
        </p>

        <a href="#contact" class="border px-2 py-2 rounded-sm text-sm font-600">
          {t("trial.cta")}
        </a>
      </article>
    </section>

    <article class="max-w-2xl mx-a">
      <h2 class="font-gabarito font-800 text-2xl">{t("domaine.title")}</h2>
      <ul>
        <li>{t("domaine.list.1")}</li>
        <li>{t("domaine.list.2")}</li>
        <li>{t("domaine.list.3")}</li>
        <li>{t("domaine.list.4")}</li>
        <li>{t("domaine.list.5")}</li>
      </ul>

      <p set:html={sanitizeHTML(t("feasibility.body"))} class="[&>a]:text-blue [&>a]:underline" />
    </article>

    <article class="max-w-2xl mx-a">
      <h2 class="inline-flex text-24px font-gabarito gap-x-2">
        <img src={localLogoMemoQ.src} alt="" width={24} height={24} />
         MEMO Q TRANSLATOR PRO
      </h2>
      <p>
        {t("memoq.body")}

         (<a
          href="https://www.trados.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center underline gap-x-1 text-blue"
        >
          SDL TRADOS <span><ExternalLinkIcon aria-hidden className="stroke-current" /></span>
        </a>
        {" "}{t("general.or")}{" "}
        <a
          href="https://www.trados.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center underline gap-x-1 text-blue"
        >
          WORDFAST <span><ExternalLinkIcon aria-hidden className="stroke-current" /></span>
        </a>).
      </p>
    </article>

    <article class="max-w-2xl mx-a">
      <h2 class="font-gabarito text-2xl font-800">{t("disposability.title")}</h2>
      <p>➡️ {t("disposability.answer")}</p>
      <p>➡️ {t("disposability.delivery")}</p>
    </article>

    <section id="prices" class="flex flex-col max-w-2xl ma">
      <h2 class="font-gabarito font-800 text-2xl">{t("prices.title")}</h2>
      <p class="mb-2">{t("prices.description")}</p>

      <p class="mb-2">
        {t("prices.tih")}
        <a
          href="https://www.agefiph.fr/employeur#linclusion-de-personnes-handicapees-une-opportunite-rh-a-saisir"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center underline gap-x-1"
        >
          {t("prices.link")}
          <span><ExternalLinkIcon aria-hidden /></span>
        </a>
      </p>
    </section>

    <section id="about" class="max-w-2xl mx-a grid gap-y-2 mb-4">
      <h2 class="font-gabarito font-800 text-2xl">{t("about.title")}</h2>

      <div>
        <p>Freya PALSMA</p>
        <p>{t("about.job")}</p>
      </div>

      <p>{t("about.description.1")}</p>
      <p>{t("about.description.2")}</p>
    </section>

    <section id="contact" class="max-w-2xl mx-a grid gap-y-2 mb-4">
      <h2 class="font-gabarito font-800 text-2xl">{t("nav.contact")}</h2>
      <div>
        <CopyButton content="freyapalsma@gmail.com" client:only>Copy</CopyButton>
        <button type="button">freyapalsma@gmail.com</button>
        <a href="#" target="_blank" rel="noopener noreferrer">Linkedin</a>
      </div>
    </section>
  </main>

  <Footer />
</BaseLayout>
