---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="container-900 mx-a min-h-[calc(100dvh_-_80px_-_70px)]">
    <section class="pbs-18 px-6">
      <h1 class="font-gabarito font-800 mbe-4 text-4xl">Privacy Policy</h1>

      <p>
        We use cookies only to activate the dark mode on our website. These cookies do not collect
        any personal information. They are used to improve your browsing experience. If you have any
        questions or concerns, please do not hesitate to contact us.
      </p>
    </section>
  </main>
</BaseLayout>
