---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="max-w-1200px mx-a min-h-100dvh">
    <h1>Privacy Policy</h1>

    <p>
      We use cookies only to activate the dark mode on our website. These cookies do not collect any
      personal information. They are used to improve your browsing experience. If you have any
      questions or concerns, please do not hesitate to contact us.
    </p>
  </main>
</BaseLayout>
