---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { StrokedCirclePattern } from "@components/StrokedCirclePattern";
import TableLanguageCombinations from "@components/TableLanguageCombinations.astro";
import { ExternalLinkIcon } from "@components/icons/ExternalLinkIcon";
import localLogoMemoQ from "../images/logo-q.svg";
import HeroHeading from "@components/HeroHeading.astro";
import { DoubleChevronRightIcon } from "@components/icons/DoubleChevronRightIcon";
import TrialBanner from "@components/TrialBanner.astro";
import CopyButton from "@components/CopyButton.astro";
import { CopyIcon } from "@components/icons/CopyIcon";
import { LinkedInIcon } from "@components/icons/LinkedinIcon";
import TranslateFieldsList from "@components/TranslateFieldsList.astro";
import { MailIcon } from "@components/icons/MailIcon";
import Link from "@components/Link.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout>
  <main class="flex flex-col font-inter">
    <section id="hero" class="grid h-40rem">
      <StrokedCirclePattern className="col-span-full row-span-full" />
      <div class="flex flex-col gap-y-8 items-center justify-center col-span-full row-span-full">
        <HeroHeading />
        <Link href="#contact">
          Get in touch
          <DoubleChevronRightIcon />
        </Link>
      </div>
    </section>

    <TrialBanner />

    <section class="max-w-1200px px-4 mx-a mbs-18 grid gap-4 justify-items-center">
      <h2 class="text-center font-gabarito font-800 text-4xl underline mbe-4">
        L'objectif de mes traductions <br /> est qu'elles soient fluides et fidèles
      </h2>
      <p class="max-w-600px text-center">
        En m'appliquant à déterminer le terme le plus précis et approprié dans chaque contexte, mon
        intention est que la traduction conserve le <strong>même impact</strong> que le texte
        original.
      </p>
    </section>

    <section class="max-w-1200px px-4 mx-a mbs-18 grid gap-4 justify-items-center">
      <h2 class="font-gabarito text-center text-4xl font-800 underline mbe-4">
        Global linguistic reach
      </h2>
      <p class="max-w-600px text-center">
        This table displays my language proficiency and translation capabilities to helping you
        match the right linguist to your specific language needs.
      </p>
      <TableLanguageCombinations />

      <article class="max-w-800px py-4 px-4 text-sm border-l-6 border border-border rounded mt-4">
        <h3 class="inline-flex gap-x-2 mb-2 font-500">
          <img src={localLogoMemoQ.src} alt="" width={16} height={16} />
           MemoQ translator pro
        </h3>
        <p>
          J'utilise l'environnement de traduction assisté par ordinateur
          <strong>MEMO Q PRO</strong>, outil qui me permets de travailler à partir de nombreux
          formats de documents et compatible avec la plupart des autres outils de traduction, tels
          que
          <a
            href="https://www.trados.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center hover:underline gap-x-1 text-blue"
          >
            SDL Trados <span><ExternalLinkIcon aria-hidden className="stroke-current" /></span>
          </a>
          {" "}ou{" "}
          <a
            href="https://www.trados.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center hover:underline gap-x-1 text-blue"
          >
            Wordfast <span><ExternalLinkIcon aria-hidden className="stroke-current" /></span>
          </a>
        </p>
      </article>
    </section>

    <section class="max-w-1200px px-4 mx-a mbs-18 grid gap-4">
      <h2 class="font-gabarito font-800 text-4xl mbe-4 text-center underline">
        Domaines de prédilection basés <br /> sur mon expérience personnelle et professionnelle
      </h2>

      <TranslateFieldsList />

      <article class="max-w-800px py-4 px-4 text-sm border-l-6 border border-border rounded mt-4">
        <p class="mb-2">
          Avez-vous des doutes sur la faisabilité de la traduction que vous souhaitez demander ?
          (poésie, registre soutenu, symbolique riche du texte, termes spécifiques…)
        </p>
        <p>
          N'hésitez pas à
          <a class="text-blue font-500 hover:underline hover:underline-blue" href="#contact">
            prendre contact ou demander un devis.
          </a>
        </p>
      </article>
    </section>

    <section id="about" class="max-w-1200px mx-a grid gap-y-4 mbs-16 px-4">
      <h2 class="font-gabarito font-800 text-4xl text-center underline mbe-4">
        A propos du traducteur
      </h2>

      <p>Freya PALSMA - Traducteur professionnel indépendant handicapé (TIH)</p>

      <p class="max-w-800px mx-a">
        Née et éduquée en France mais d'origine néerlandaise, j'ai appris à traduire en apprenant à
        parler; le français à l'école, le néerlandais à la maison. J'ai ensuite eu l'opportunité
        d'apprendre l'anglais couramment en suivant une année de ma scolarité en Angleterre et en
        poursuivant cet apprentissage en section internationale au collège jusqu'à l'obtention du
        Baccalauréat (OIB/BFI) dans un lycée international en France. J'ai pu depuis pratiquer et
        enrichir ces langues professionnellement en entreprise ; j'ai travaillé pendant trois années
        dans l'hôtellerie et deux années pour un prestataire de logistique international, avec comme
        contact quotidien les collaborateurs et clients du BeNeLux.
      </p>

      <p class="max-w-800px mx-a">
        Ayant déclaré une maladie neurologique rare à l'age adulte, le manque d'informations et de
        recherches disponibles en français sur cette pathologie m'a fait découvrir qu'avoir accès à
        la traduction ne permet pas seulement la communication entre deux communautés linguistiques
        ou le commerce international, mais facilite surtout le partage d'informations et
        l'enrichissement de sa culture individuelle. <br />
         Traduire est devenu pour moi un réflexe, et pouvoir aujourd'hui vous proposer ce service
        représente une grande satisfaction.
      </p>
    </section>

    <section id="contact" class="max-w-1200px mx-a grid gap-y-8 my-16 px-4">
      <h2 class="font-gabarito font-800 text-4xl underline">Contact</h2>
      <p>N'hésitez pas à me contacter par e-mail ou via LinkedIn.</p>

      <div class="justify-self-center flex flex-wrap gap-10">
        <CopyButton
          className="flex items-center gap-x-1 border border-border px-4 py-2 rounded"
          content="brainslate@outlook.fr"
        >
          <MailIcon aria-hidden />
          <span class="text-sm">brainslate@outlook.fr</span>
          <CopyIcon aria-hidden className="w-16px h-16px" />
        </CopyButton>

        <a
          href="https://www.linkedin.com/in/freya-palsma/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-x-1 border border-border rounded px-4 py-2 text-sm"
        >
          <div class="flex items-center gap-x-1">
            <LinkedInIcon aria-hidden /><span class="text-sm underline">Linkedin</span>
          </div>
          <ExternalLinkIcon aria-hidden className="w-16px h-16px" />
        </a>
      </div>
    </section>
  </main>
</BaseLayout>
