---
import { ArrowRightIcon } from "@components/icons/ArrowRightIcon";
import { ExternalLinkIcon } from "@components/icons/ExternalLinkIcon";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import BaseLayout from "@layouts/BaseLayout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title="Brainslate | Prices">
  <main class="min-h-100dvh mbs-xl">
    <section class="max-w-1200px mx-a">
      <h2 class="font-gabarito text-2xl font-800">MES DISPONIBILITÉS</h2>
      <ul>
        <li class="flex items-baseline gap-x-2">
          <span><ArrowRightIcon /></span>Réponse devis sous les 6h garantie (de 8h à 18h en semaine)
        </li>
        <li class="flex items-baseline gap-x-2">
          <span><ArrowRightIcon /></span>Livraison express en 72h jusqu'à 1600 mots (sous réserve de
          disponibilité/hors offre d'essai)
        </li>
      </ul>
    </section>

    <section id="prices" class="flex flex-col max-w-1200px ma">
      <h2 class="font-gabarito font-800 text-2xl">Tarifs</h2>
      <p class="mb-2">
        La tarification dépend du niveau de technicité et de la complexité du texte ainsi que de la
        combinaison linguistique. Les traductions sont facturées au mot (0,10 à 0,20 euros/mot), la
        facturation est ensuite ajustée en fonction du temps de travail et du délai de livraison
        demandé. N'hésitez pas à me contacter pour obtenir un devis ou vérifier la faisabilité du
        projet !
      </p>

      <p class="mb-2">
        Je suis travailleur indépendant handicapé (TIH): Des dispositifs facilitant l'emploi des
        personnes en situation de handicap existent pour les entreprises. Plus d'informations :
        <a
          href="https://www.agefiph.fr/employeur#linclusion-de-personnes-handicapees-une-opportunite-rh-a-saisir"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center underline gap-x-1"
        >
          https://www.agefiph.fr/employeur#linclusion-de-personnes-handicapees-une-opportunite-rh-a-saisir


          <span><ExternalLinkIcon aria-hidden /></span>
        </a>
      </p>
    </section>
  </main>
</BaseLayout>
