---
import { ArrowRightIcon } from "@components/icons/ArrowRightIcon";
import { ExternalLinkIcon } from "@components/icons/ExternalLinkIcon";
import BaseLink from "@components/ui/BaseLink.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import BaseLayout from "@layouts/BaseLayout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title="Brainslate | Prices">
  <main class="min-h-100dvh mt-xl max-w-1200px mx-a flex flex-col gap-y-4">
    <section>
      Offre d'essai à 5 euros pour vos 250 premiers mots Profitez de cette offre pour faire traduire
      un document court ou pour tout simplement avoir un aperçu du rendu de mon travail pour un
      eventuel projet plus long.
    </section>

    <section class="flex flex-col gap-y-2">
      <h2 class="font-gabarito font-800 text-2xl">Mes disponibilités</h2>
      <ul>
        <li class="flex items-baseline gap-x-2">
          <span><ArrowRightIcon /></span>Réponse devis sous les 6h garantie (de 8h à 18h en semaine)
        </li>
        <li class="flex items-baseline gap-x-2">
          <span><ArrowRightIcon /></span>Livraison express en 72h jusqu'à 1600 mots (sous réserve de
          disponibilité/hors offre d'essai)
        </li>
      </ul>
    </section>

    <section class="flex flex-col gap-y-2">
      <h2 class="font-gabarito font-800 text-2xl">Tarifs</h2>
      <p>
        La tarification dépend du niveau de technicité et de la complexité du texte ainsi que de la
        combinaison linguistique. Les traductions sont facturées au mot (0,10 à 0,20 euros/mot), la
        facturation est ensuite ajustée en fonction du temps de travail et du délai de livraison
        demandé. N'hésitez pas à me contacter pour obtenir un devis ou vérifier la faisabilité du
        projet !
      </p>

      <p>
        Je suis travailleur indépendant handicapé (TIH): Des dispositifs facilitant l'emploi des
        personnes en situation de handicap existent pour les entreprises. Plus d'informations :
        <BaseLink
          href="https://www.agefiph.fr/employeur#linclusion-de-personnes-handicapees-une-opportunite-rh-a-saisir"
          external
        >
          https://www.agefiph.fr/employeur#linclusion-de-personnes-handicapees-une-opportunite-rh-a-saisir


          <span><ExternalLinkIcon aria-hidden /></span>
        </BaseLink>
      </p>
    </section>
  </main>
</BaseLayout>
