---
import BaseLayout from "@layouts/BaseLayout.astro";
import { ArrowRightIcon } from "@components/icons/ArrowRightIcon";
import { ExternalLinkIcon } from "@components/icons/ExternalLinkIcon";
import { Badge } from "@components/ui/Badge";
import { Link } from "@components/ui/Link";
---

<BaseLayout title="Brainslate | Tarifs">
  <main
    class="container-900 mx-a pbs-20 flex min-h-[calc(100dvh_-_80px_-_70px)] flex-col gap-y-4 px-6"
  >
    <section class="flex flex-col gap-y-2">
      <h1 class="font-gabarito font-800 mbe-4 text-4xl">Tarifs</h1>

      <p>
        La tarification dépend du niveau de technicité et de la complexité du texte ainsi que de la
        combinaison linguistique. Les traductions sont facturées au mot (0,10 à 0,20 euros/mot), la
        facturation est ensuite ajustée en fonction du temps de travail et du délai de livraison
        demandé. N'hésitez pas à me contacter pour obtenir un devis ou vérifier la faisabilité du
        projet !
      </p>

      <p>
        Je suis travailleur indépendant handicapé (TIH): Des dispositifs facilitant l'emploi des
        personnes en situation de handicap existent pour les entreprises. Plus d'informations:
        <Link
          intent="text"
          href="https://www.agefiph.fr/employeur#linclusion-de-personnes-handicapees-une-opportunite-rh-a-saisir"
          external
        >
          cliquez ici
          <ExternalLinkIcon aria-hidden />
        </Link>
      </p>
    </section>

    <article class="border-l-6 border-border grid gap-2 rounded border px-4 py-4 text-sm">
      <div class="flex items-center gap-x-2">
        <Badge intent="green">OFFRE</Badge>
        <p class="font-600">Offre d'essai à 5 euros pour vos 250 premiers mots.</p>
      </div>

      <p>
        Profitez de cette offre pour faire traduire un document court ou pour tout simplement avoir
        un aperçu du rendu de mon travail pour un eventuel projet plus long.
      </p>
    </article>

    <section class="mbs-12 flex flex-col gap-y-2">
      <h2 class="font-gabarito font-800 mbe-4 text-4xl">Mes disponibilités</h2>

      <ul>
        <li class="flex items-baseline gap-x-2">
          <ArrowRightIcon /> Réponse devis sous les 6h garantie (de 8h à 18h en semaine)
        </li>

        <li class="flex items-baseline gap-x-2">
          <ArrowRightIcon />
           Livraison express en 72h jusqu'à 1600 mots (sous réserve de disponibilité/hors offre
          d'essai)
        </li>
      </ul>
    </section>
  </main>
</BaseLayout>
