---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="container-900 mx-a min-h-[calc(100dvh_-_80px_-_70px)]">
    <section class="pbs-18">
      <h1 class="font-gabarito font-800 mbe-4 text-4xl">Politique de confidentialité</h1>

      <p>
        Nous utilisons des cookies uniquement pour activer le mode sombre sur notre site. Ces
        cookies ne collectent aucune information personnelle. Ils sont utilisés pour améliorer votre
        expérience de navigation. Si vous avez des questions ou des préoccupations, n'hésitez pas à
        nous contacter.
      </p>
    </section>
  </main>
</BaseLayout>
