---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="max-w-1200px mx-a min-h-100dvh">
    <h1>Politique de confidentialité</h1>

    <p>
      Nous utilisons des cookies uniquement pour activer le mode sombre sur notre site. Ces cookies
      ne collectent aucune information personnelle. Ils sont utilisés pour améliorer votre
      expérience de navigation. Si vous avez des questions ou des préoccupations, n'hésitez pas à
      nous contacter.
    </p>
  </main>
</BaseLayout>
