---
import type { HTMLAttributes } from "astro/types";
export type Props = HTMLAttributes<"button">;

const props = Astro.props;
---

<button
  {...props}
  class="border-border bg-background hover:bg-accent font-600 flex items-center gap-x-2 rounded border px-2 py-2 text-sm"
>
  <slot />
</button>
