---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { CopyIcon } from "./icons/CopyIcon";
import { IconButton } from "./ui/IconButton";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="relative">
  <IconButton id="copy-btn" label="copy email address">
    <CopyIcon className="w-16px h-16px" />
  </IconButton>

  <p
    id="pop-up"
    class="left-50% border-border bg-background font-300 absolute top-[calc(100%+8px)] translate-x-[-50%] whitespace-nowrap rounded border px-2 py-1 text-xs opacity-0 transition-opacity data-[visible=true]:opacity-100"
  >
    {t("clipboard")}
  </p>
</div>

<script>
  const btn = document.getElementById("copy-btn");
  const p = document.getElementById("pop-up");

  let timer: NodeJS.Timeout | null = null;

  async function copyText() {
    try {
      await navigator.clipboard.writeText("brainslate@outlook.fr");
      p?.setAttribute("data-visible", "true");
    } catch (err) {
      console.error("Failed to copy: ", err);
    } finally {
      if (timer) {
        clearTimeout(timer); // Clear the previous timer if it exists
      }

      timer = setTimeout(() => {
        p?.setAttribute("data-visible", "false");
      }, 2000);
    }
  }

  btn?.addEventListener("click", copyText);
</script>
