---
import { getLangFromUrl, useTranslatedPath, useTranslations } from "@i18n/utils";
import { VercelIcon } from "./icons/VercelIcon";
const currentYear = new Date().getFullYear();
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);
---

<footer class="flex items-center justify-around border-t px-10 py-6">
  <p class="text-sm">
    &copy; {currentYear},
    <span class="font-gabarito">Brainslate E.I.</span>
    <span class="font-300 text-xs"> Siret 98003476300014</span>
  </p>

  <nav class="h-20px flex items-center gap-x-2">
    <a href={translatePath("/conditions")} class="font-300 text-xs hover:underline">
      {t("conditions")}
    </a>

    <div role="separator" class="w-1px bg-accent h-full"></div>

    <a
      href="https://vercel.com/"
      target="_blank"
      rel="noopener noreferrer"
      class="font-300 inline-flex items-center gap-x-1 text-xs hover:underline"
    >
      {t("host")}
      <span><VercelIcon /></span>
    </a>
  </nav>
</footer>
