---
import { getLangFromUrl, useTranslatedPath } from "@i18n/utils";
const currentYear = new Date().getFullYear();
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<footer class="px-10 py-6 border-t flex items-center justify-around">
  <p class="text-sm text-gray-600">
    &copy; {currentYear},
    <span class="font-gabarito">Brainslate</span>
  </p>

  <a href={translatePath("/conditions")} class="text-xs font-300 underline">Conditions générales</a>
</footer>
