---
import { getLangFromUrl, useTranslatedPath, useTranslations } from "@i18n/utils";
import { SelectLanguage } from "./SelectLanguage";
import { SwitchColorScheme } from "./SwitchColorScheme";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const LINKS = [
  { href: "/", label: t("nav.home") },
  { href: "/#about", label: t("nav.about") },
  { href: "/prices", label: t("nav.prices") },
  { href: "/#contact", label: t("nav.contact") },
];
---

<header class="px-12 py-6 font-inter border-b sticky top-0 w-full frosted">
  <div class="flex justify-between items-center gap-x-2xl max-w-[50rem] mx-a">
    <a
      href={translatePath("/")}
      class="text-2xl font-800 font-gabarito text-gray-900 dark:text-gray-100"
    >
      Brainslate
    </a>

    <!-- <button type="button" class="md:hidden"> <MenuBurgerIcon /></button> -->

    <nav class="hidden md:flex gap-x-xs">
      {
        LINKS.map(({ href, label }) => (
          <a
            href={translatePath(href)}
            class="text-gray-900 dark:text-gray-100 hover:text-gray-700 dark:hover:text-gray-300 font-450 text-base"
          >
            {label}
          </a>
        ))
      }
    </nav>

    <div class="hidden md:flex gap-x-xs">
      <SwitchColorScheme client:load />
      <SelectLanguage client:only />
    </div>
  </div>
</header>

<style scoped>
  .frosted {
    background: rgba(241, 245, 249, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.29);
  }
</style>
