---
import { getLangFromUrl } from "@i18n/utils";
import { languages } from "../i18n/ui";

const currentLang = getLangFromUrl(Astro.url);
---

<ul>
  {
    Object.entries(languages).map(([lang, label]) => {
      if (currentLang === lang)
        return (
          <li>
            <a role="link" aria-disabled="true" class="text-red-1/50">
              {label}
            </a>
          </li>
        );

      return (
        <li>
          <a href={`/${lang}/`}>{label}</a>
        </li>
      );
    })
  }
</ul>
