---
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"a"> & {
  variant?: "button" | "link";
};

const url = new URL(Astro.props.href as string, Astro.url);
const isExternal = url.host !== Astro.url.host;
const isCurrent = url.href === Astro.url.href;

const { variant = "link", ...props } = Astro.props;

const buttonStyle =
  "flex items-center gap-x-2 border border-border bg-primary text-primary-foreground pis-4 pie-2 py-2 rounded text-sm font-600";
const linkStyle =
  "flex items-center gap-x-1 border border-border rounded px-4 py-2 text-sm font-700";
---

<a
  {...props}
  aria-current={isCurrent ? "page" : null}
  rel={isExternal ? "noopener noreferrer" : null}
  class={variant === "link" ? linkStyle : buttonStyle}
>
  <slot />
</a>
