---
import { CheckIcon } from "./icons/CheckIcon";
---

<table class="w-sm table-fixed">
  <tr>
    <td class="border border-border"> &nbsp;</td>
    <th scope="col" class="border border-border">FR</th>
    <th scope="col" class="border border-border">EN</th>
    <th scope="col" class="border border-border">NL</th>
  </tr>

  <tr>
    <th scope="row" class="border border-border">FR</th>
    <td align="center" class="border border-border bg-muted/80"></td>
    <td align="center" class="border border-border"><CheckIcon className="w-16px" /></td>
    <td align="center" class="border border-border"><CheckIcon className="w-16px" /></td>
  </tr>

  <tr>
    <th scope="row" class="border border-border">EN</th>
    <td align="center" class="border border-border"><CheckIcon className="w-16px" /></td>
    <td align="center" class="border border-border bg-muted/80"></td>
    <td align="center" class="border border-border"><CheckIcon className="w-16px" /></td>
  </tr>

  <tr>
    <th scope="row" class="border border-border">NL</th>
    <td align="center" class="border border-border"><CheckIcon className="w-16px" /></td>
    <td align="center" class="border border-border"><CheckIcon className="w-16px" /></td>
    <td align="center" class="border border-border bg-muted/80"></td>
  </tr>
</table>
