---

---

<table class="w-sm table-fixed">
  <tr>
    <td class="border"> &nbsp;</td>
    <th scope="col" class="border">FR</th>
    <th scope="col" class="border">EN</th>
    <th scope="col" class="border">NL</th>
  </tr>

  <tr>
    <th scope="row" class="border">FR</th>
    <td align="center" class="border">_</td>
    <td align="center" class="border"></td>
    <td align="center" class="border"></td>
  </tr>

  <tr>
    <th scope="row" class="border">EN</th>
    <td align="center" class="border"></td>
    <td align="center" class="border">_</td>
    <td align="center" class="border"></td>
  </tr>

  <tr>
    <th scope="row" class="border">NL</th>
    <td align="center" class="border"></td>
    <td align="center" class="border"></td>
    <td align="center" class="border">_</td>
  </tr>
</table>
