---
import { getLangFromUrl, useTranslatedPath } from "@i18n/utils";
import { DoubleChevronRightIcon } from "./icons/DoubleChevronRightIcon";
import { ButtonLink } from "./ui/ButtonLink";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<div class="border-border flex items-center justify-center gap-x-4 border-b border-t px-4 py-4">
  <span
    class="font-700 rounded bg-black px-2 py-1 text-sm text-white dark:bg-white dark:text-black"
  >
    {lang === "fr" ? "OFFRE" : "TRIAL"}
  </span>

  {
    lang === "en" && (
      <Fragment>
        <p>
          For your first <span class="font-700">250</span> words.
        </p>
        <ButtonLink href={translatePath("/pricing")}>
          More
          <DoubleChevronRightIcon />
        </ButtonLink>
      </Fragment>
    )
  }

  {
    lang === "fr" && (
      <Fragment>
        <p>
          Pour vos premiers <span class="font-700">250</span> mots.
        </p>
        <ButtonLink href={translatePath("/pricing")}>
          En savoir plus
          <DoubleChevronRightIcon />
        </ButtonLink>
      </Fragment>
    )
  }

  {
    lang === "nl" && (
      <Fragment>
        <p>
          Voor uw eerste <span class="font-700">250</span> woorden.
        </p>
        <ButtonLink href={translatePath("/pricing")}>
          Meer weten
          <DoubleChevronRightIcon />
        </ButtonLink>
      </Fragment>
    )
  }
</div>
