---
import { getLangFromUrl, useTranslatedPath } from "@i18n/utils";
import { DoubleChevronRightIcon } from "./icons/DoubleChevronRightIcon";
import Link from "./Link.astro";
import BaseLink from "./ui/BaseLink.astro";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<div class="flex items-center justify-center gap-x-4 px-4 py-4 border-border border-b border-t">
  <span
    class="text-white bg-black dark:bg-white dark:text-black px-2 py-1 rounded text-sm font-700"
  >
    {lang === "fr" ? "OFFRE" : "TRIAL"}
  </span>

  {
    lang === "en" && (
      <Fragment>
        <p>
          For your first <span class="font-700">250</span> words.
        </p>
        <Link href={translatePath("/prices")}>
          More
          <DoubleChevronRightIcon />
        </Link>
      </Fragment>
    )
  }

  {
    lang === "fr" && (
      <Fragment>
        <p>
          Pour vos premiers <span class="font-700">250</span> mots.
        </p>
        <BaseLink intent="button-secondary" href={translatePath("/prices")}>
          En savoir plus
          <DoubleChevronRightIcon />
        </BaseLink>
      </Fragment>
    )
  }

  {
    lang === "nl" && (
      <Fragment>
        <p>
          Voor uw eerste <span class="font-700">250</span> woorden.
        </p>
        <Link href={translatePath("/prices")}>
          Meer weten
          <DoubleChevronRightIcon />
        </Link>
      </Fragment>
    )
  }
</div>
