---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { getLangFromUrl } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);

import "@styles/fonts.css";
import "@styles/theme.css";

type Props = {
  title?: string;
};

const { title = "Brainslate | Dutch,French,English translation" } = Astro.props;
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, { attributes: true, attributeFilter: ["class"] });
  }
</script>

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Professional freelance translator offering English, Dutch, and French translation services."
    />
    <meta
      name="keywords"
      content="freelance translator, English translation, Dutch translation, French translation"
    />
    <meta name="author" content="" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="English" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="og:title" content="Freelance Translator Services" />
    <meta
      name="og:description"
      content="Professional freelance translator offering English, Dutch, and French translation services."
    />
    <meta name="og:image" content="your-image-url.jpg" />
    <meta name="og:url" content="https://brainslate.fr" />
    <meta name="og:type" content="website" />

    <link rel="preload" href="/fonts/Gabarito[wght].ttf" as="font" type="font/ttf" crossorigin />
    <link rel="preload" href="/fonts/Inter.ttf" as="font" type="font/ttf" crossorigin />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>{title}</title>
  </head>

  <body class="bg-background text-foreground font-sans">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style scoped></style>
