---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { getLangFromUrl } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);

import "@styles/fonts.css";
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Professional freelance translator offering English, Dutch, and French translation services."
    />
    <meta
      name="keywords"
      content="freelance translator, English translation, Dutch translation, French translation"
    />
    <meta name="author" content="" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="English" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="og:title" content="Freelance Translator Services" />
    <meta
      name="og:description"
      content="Professional freelance translator offering English, Dutch, and French translation services."
    />
    <meta name="og:image" content="your-image-url.jpg" />
    <meta name="og:url" content="https://brainslate.fr" />
    <meta name="og:type" content="website" />

    <link rel="preload" href="/fonts/Gabarito[wght].ttf" as="font" type="font/ttf" crossorigin />
    <link rel="preload" href="/fonts/Inter.ttf" as="font" type="font/ttf" crossorigin />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>Brainslate - Freelance Translator Services</title>
  </head>

  <body
    class="font-sans dark:bg-dark bg-bluegray-1 text-gray-8 dark:text-white transition-color duration-500 font-inter"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
