---
import type { HTMLAttributes } from "astro/types";
import { type VariantProps, cva } from "class-variance-authority";

interface Props extends HTMLAttributes<"a">, VariantProps<typeof linkStyle> {
  external?: boolean;
}

const { external = false, intent = "text", ...props } = Astro.props;

const linkStyle = cva("inline-flex items-center gap-x-1", {
  variants: {
    intent: {
      text: ["text-blue-500", "hover:shadow-[inset_0_-1px_0_0_blue]"],
      "button-primary": [
        "text-primary-foreground",
        "text-sm",
        "font-600",
        "bg-primary",
        "hover:bg-primary/90",
        "px-4",
        "py-2",
        "rounded",
      ],

      "button-secondary": [
        "text-sm",
        "font-600",
        "text-foreground",
        "border",
        "border-border",
        "px-4",
        "py-2",
        "rounded",
      ],
    },
  },
});
---

<a
  {...props}
  class={linkStyle({ intent })}
  rel={external ? "noopener noreferrer" : null}
  target={external ? "_blank" : null}
>
  <slot />
</a>
